// GENERAL PROJECT STYLES

.underlay {
	position: relative;
	width: 100%;
	height: 100%;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../images/dist/underlay.png);
		opacity: 0.7;
	}
}

.main {
	position: relative;
	display: flex;
	align-items: center;
	background-image: url(../images/dist/banner-main.png);
	background-repeat: no-repeat;
	height: 644px;
	margin-top: 40px;
	margin-bottom: 80px;
	background-position: center;
	background-size: cover;

	@media screen and (max-width: 768px) {
		height: 464px;
	}
}

.main__name {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 60px;
}

.main__name-title {
	font-size: 80px;
	margin-bottom: 24px;
	font-family: $titlefont;

	color: $accent;

	@media screen and (max-width: 1280px) {
		font-size: clamp(2.125rem, 1.4272rem + 2.9773vw, 5rem);
	}
	@media screen and (max-width: 1024px) {
		.main__letter-spacing {
			display: block;
			text-align: right;
		}
	}
}

.main__name-desc {
	font-size: clamp(1.125rem, 0.9126rem + 0.9061vw, 2rem);
	margin-left: 186px;
	font-family: $accentfont;
	font-weight: 400;
	color: #fff;

	@media screen and (max-width: 1536px) {
		margin-left: 100px;
	}
}

.about {
	display: flex;
	gap: 64px;
	margin-bottom: 145px;
	position: relative;
	z-index: 2;

	@media screen and (max-width: 1280px) {
		flex-direction: column;
	}
	@media screen and (max-width: 640px) {
		margin-bottom: 43px;
	}
}

.about__left {
	width: 80%;

	@media screen and (max-width: 1280px) {
		width: 100%;
	}
}

.about__right {
	@media screen and (max-width: 1280px) {
		margin-top: -150px;
	}
	@media screen and (max-width: 480px) {
		margin-top: -100px;
	}
}

.about__left-image {
	border-radius: 24px;
	display: block;
	width: 100%;
}

.about__title {
	color: $accent;
	font-family: $accentfont;
	font-size: 40px;
	margin-bottom: 24px;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		font-size: 28px;
	}
}

.about__desc-top,
.about__desc-bottom,
.about__desc-highlight-letter {
	color: $textcolor;
	font-family: $accentfont;
	font-size: 28px;
	line-height: 32px;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		font-size: 24px;
	}
}

.about__desc-top {
	margin-bottom: 16px;
}

.about__desc-highlight-letter {
	color: $accent;
}

.about__button {
	margin-top: 75px;

	@media screen and (max-width: 1280px) {
		margin-top: 26px;
	}
}

.cards {
	margin-bottom: 0;
	padding-bottom: 264px;
	position: relative;
	z-index: 2;

	@media screen and (max-width: 640px) {
		padding-bottom: 102px;
	}
}

.cards__wrap {
	display: flex;
	gap: 32px;
	margin-bottom: 262px;
}

.cards__container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 32px;
	// align-items: baseline;

	> * {
		align-self: baseline;
	}
}

.cards__link {
	position: relative;
	display: block;
	width: 100%;
	transition: opacity 0.25s ease;

	img {
		width: 100%;
	}

	&:hover {
		opacity: 0.6;
	}
}

.cards__link--top-left {
	grid-column: 2 / 7;

	p {
		bottom: 6%;
		right: 4%;
	}
}
.cards__link--top-right {
	grid-column: 7 / 13;

	p {
		top: 28%;
		left: 4%;
	}
}
.cards__link--bottom-left {
	grid-column: 1 / 7;

	p {
		top: 6%;
		left: 4%;
	}
}
.cards__link--bottom-right {
	grid-column: 7 / 12;

	p {
		bottom: 10%;
		left: 6%;
	}
}

.cards__link--top-left,
.cards__link--top-right,
.cards__link--bottom-left,
.cards__link--bottom-right {
	@media screen and (max-width: 1024px) {
		grid-column: 1 / 13;
	}
}

.cards__desc {
	color: #fff;
	font-family: $accentfont;
	font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
	line-height: 38px;
	position: absolute;
	font-weight: 400;

	@media screen and (max-width: 1280px) {
		line-height: 28px;
	}
}
