.contacts {
	background-image: url(../images/dist/Img_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts__container {
	justify-content: space-between;
	display: flex;
	gap: 128px;
	padding-top: 90px;
	padding-bottom: 90px;

	@media screen and (max-width: 1280px) {
		gap: 32px;
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
	@media screen and (max-width: 768px) {
		padding-top: 38px;
		padding-bottom: 38px;
	}
}

.contacts__left-title {
	color: $accent;
	font-family: $accentfont;
	letter-spacing: 1px;
	font-size: clamp(1.75rem, 1.568rem + 0.7767vw, 2.5rem);
	font-weight: 400;
}

.contacts__menu-left {
	display: flex;
	flex-direction: column;
	column-gap: 32px;
	row-gap: 32px;
	margin-top: 40px;
	list-style-type: none;
	width: 100%;
}

.icon__links {
	display: flex;
	gap: 32px;
	color: white;

	.icon {
		width: 48px;
		height: 48px;

		@media screen and (max-width: 640px) {
			width: 40px;
			height: 40px;
		}
	}

	@media screen and (max-width: 640px) {
		gap: 16px;
		flex-direction: column;

		.link__letter-spacing {
			display: block;
		}
	}
}

.links-phone,
.links-vk,
.links-inst {
	color: white;
	font-family: $accentfont;
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 1px;

	@media screen and (max-width: 768px) {
		font-size: 20px;
	}
}

.links-phone:hover,
.links-vk:hover,
.links-inst:hover {
	color: $accent;
}

.icon__links-desc-phone,
.icon__links-desc-vk,
.icon__links-desc-inst {
	font-family: $userfont;
	margin-top: 8px;
	color: white;
	font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
	line-height: 18px;
}

.contacts__left-inner {
	width: 100%;
}

.contacts__right-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contacts-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-radius: 16px;
	padding: 32px;
	color: white;
	background: linear-gradient(to right, #1c1c1c, #343434);
	background-color: rgba(28, 28, 28, 1);

	@media screen and (max-width: 640px) {
		padding: 16px;
	}
}

.forms-record {
	margin-block-end: 8px;
	color: white;
	font-family: $accentfont;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: clamp(1.25rem, 1.1286rem + 0.5178vw, 1.75rem);
	text-align: center;
}

.contacts-input {
	width: 100%;
	border: none;
	border-radius: 32px;
	padding: 16px 24px;
	color: #7e8383;
	background-color: #303030;
	color: #fff;
	border: 1px solid transparent;
	font-size: 16px;
	transition: border-color 0.25s ease;

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #ffffff;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: inset 0 0 20px 20px #303030;
	}

	&:focus {
		border-color: $accent;
	}

	&--error {
		border-color: #ff2222;
	}
}

.contacts-button {
	margin: 16px 0 16px 0;
}

.contact-modal {
	position: fixed;
	opacity: 0;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -1000%);
	max-width: 640px;
	width: 40%;
	background: linear-gradient(to right, #1c1c1c, #343434);
	text-align: center;
	padding: 50px 60px;
	border-radius: 16px;
	transition: opacity 0.25s ease;

	@media screen and (max-width: 1024px) {
		width: 60%;
	}
	@media screen and (max-width: 640px) {
		width: 100%;
	}

	&--open {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	&__close {
		position: absolute;
		padding: 24px;
		cursor: pointer;
		top: 0;
		right: 0;
	}

	&__img {
		margin-bottom: 52px;
	}

	&__title {
		font-size: 24px;
		font-family: $accentfont;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: 12px;
		font-weight: 400;
	}
}

.no-bg {
	.contacts {
		background-image: none;
	}

	.contacts__container {
		padding-top: 0;
		padding-bottom: 0;
		align-items: center;
	}

	.contacts__left-title {
		display: none;
	}

	.contacts__menu-left {
		row-gap: 64px;
	}
}
