.game {
	display: flex;
	justify-content: flex-start;
	gap: 32px;
	margin-bottom: 80px;

	&:nth-child(even) {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	@media screen and (max-width: 1024px) {
		margin-bottom: 40px;
		flex-direction: column;
		&:nth-child(even) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}

.game__img {
	flex-basis: 50%;

	@media screen and (max-width: 1024px) {
		flex-basis: 100%;
	}
}

.game-text__title {
	font-family: $accentfont;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 400;
	font-size: clamp(1.75rem, 1.568rem + 0.7767vw, 2.5rem);
	margin-bottom: 24px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 16px;
	}
}

.game-text__desc {
	font-size: 18px;
}
