.page-title {
	margin-top: 32px;
	margin-bottom: 80px;

	@media screen and (max-width: 768px) {
		margin-top: 16px;
		margin-bottom: 64px;
	}
}

.page-title__content {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 16px;
	text-align: center;
	padding: 124px 0;

	&--large {
		padding: 158px 0;
	}

	// &--medium {
	// 	padding: 121px 0;
	// }
}

.page-title__text {
	color: $accent;
	font-family: $titlefont;
}

.page-title__main {
	font-size: 60px;
	line-height: 66px;

	@media screen and (max-width: 1280px) {
		font-size: clamp(1.75rem, 1.2646rem + 2.0712vw, 3.75rem);
		line-height: 1.4;
	}
}

.page-title__submain {
	font-size: clamp(0.875rem, 0.4502rem + 1.8123vw, 2.625rem);
}

.page-title__desc {
	margin-top: 4px;
	font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
}
