.sets__title {
	text-align: right;
	font-family: $accentfont;
	letter-spacing: 1px;
	color: #fff;
	font-size: clamp(1.75rem, 1.568rem + 0.7767vw, 2.5rem);
	margin-bottom: 64px;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		margin-bottom: 32px;
		text-align: left;
	}
}

.sets-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;

	@media screen and (max-width: 768px) {
		gap: 24px;
	}
}

.set {
	flex-basis: calc(33.3% - 21.3px);
	background-color: #282828;
	border-radius: 16px;

	@media screen and (max-width: 1280px) {
		flex-basis: calc(50% - 16px);
	}
	@media screen and (max-width: 768px) {
		flex-basis: 100%;
	}
}

.set__img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.set__text {
	padding: 24px;

	@media screen and (max-width: 768px) {
		padding: 16px;
	}
}

.set__title {
	font-family: $accentfont;
	letter-spacing: 1px;
	font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
	margin-bottom: 22px;
	color: #fff;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		margin-bottom: 4px;
	}
}

.set__desc {
	color: #fff;
}
